#logoContainer {
  width: 30vw;
  max-width: 564px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  

}
#logo {
  max-width: 60vw;

}

#textPan {
  fill-opacity: 0;
  animation: slide-in-left .75s ease-out; 
  animation-delay: .95s;
  animation-fill-mode: forwards;
}

#textProkop {
  fill-opacity: 0;
  animation: slide-in-right .75s ease-out; 
  animation-delay: .85s;
  animation-fill-mode: forwards;
}


#logoSlash {
  opacity: 0;
  transform-origin: 50% 50%;
  //transform: rotate(45deg);
  animation: bounce-slash .45s ease-in; 
  animation-delay: .5s;
  animation-fill-mode: forwards;
}