p.browsehappy {
  background: #fff000;
  padding: 2rem;
  color: #1f1f1f;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

a {
  &:hover {
    text-decoration: line-through;
  }
}

.text--uppercase { 
  text-transform: uppercase;
}

.text--large {
  font-size: 1.6rem;
}

.text--medium {
  font-size: 1.4rem;
}
.text--small { 
  font-size: 1.2rem;
}
.heading--small {
  font-size: 1rem;
}

.color--base {
  color: #1f1f1f;
}
.color--white {
  color: white;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.full-width {
  max-width: 100%;
}
.section--full-height{
  height: 100vh;
}

.btn--ghost {
  border-width: .2rem;
  border-style: solid;
  padding: .6rem 1.4rem;
}

.btn--yellow {
  border-color: #fff000;
  color: #fff000;
  background: transparent;
  transition: all .25s ease-out;

  &:hover {
    color: #1f1f1f;
    background: #fff000;
  }
}
.btn--dark {
  border-color: #1f1f1f;
  color: #1f1f1f;
  background: transparent;
  transition: all .25s ease-out;

  &:hover {
    color: #fff000;
    background: #1f1f1f;
  }
}

.btn--transparent {
  border-color: transparent;
  color: #fff000;
  background: transparent;
  transition: all .25s ease-out;

  &:hover {
    border-color: #fff000;
    color: #fff000;
  }
}