@import "_foundation_settings.scss";
@import "../_bower_components/foundation/scss/foundation.scss";
@import "_utils.scss";
@import "_animations.scss";
@import "_logo.scss";

body {
  background: #000;
} 

html{
  font-size: 10px;
  @media #{$medium-up} {
    font-size: 14px;
  }
  @media #{$large-up} {
    font-size: 16px;
  }
}




 

.wrap--table {
  display: table;
  height: 100%;
}
.wrap--table-cell {
  display: table-cell;
  vertical-align: middle;
}
.site__intro {
  text-align: center;
  padding-top: 30vh;
  background: #1f1f1f;
}
.site__info {
  background: black;
  position: relative;

}
.site__bio-wrap {
  opacity: 0;
  animation: slide-in-bio .35s ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.site__bio{
  background: #fff000;
  padding: 2rem 4rem 2rem 4rem;
  font-size: 1.6rem;

  h2 {
    margin-bottom: 3rem;
  }

  li {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.site__bio--bg {
  padding: 0;
  position: relative;
  background: url(/img/face.jpg) center center no-repeat;
  background-size: cover;
  
  padding:1rem;

  a {
    color: #ffffff;
  }
  @media #{$medium-up} {
    padding: 100% 0 0 0;
  }

  
  &:hover{
    .wrap {
      background: rgba(0,0,0,0.3);
      //transform: scale(0);
    }
  }
  .wrap {
    background: rgba(0, 0, 0, .8);
    color: white;
    padding: 1rem;
    overflow: hidden;
    transition: all .15s ease-out;
    @media #{$medium-up} {
      padding: 1.5rem;
      position: absolute;
      left: 1rem;
      top: 1rem;
      right: 1rem;
      bottom: 1rem;
    }
    @media #{$large-up}{
      padding: 2.5rem;
      left: 3rem;
      top:3rem;
      right: 3rem;
      bottom: 3rem;
    }
  }

}

.heading--welcome {

  @media #{$medium-up} {

  }
}

.site__skills {
  position: relative;
  z-index: 0;
  transform: translate3d(0,-20vh, 0);

  padding-top: 6rem;
  

  h2 {
    margin-bottom: 3rem; 
  }
  @media #{$medium-up} {
    padding-top: 6rem;
    opacity: 0;
    &.animate{
      animation: slide-in-contact .35s ease-out;
      animation-delay: .25s;
      animation-fill-mode: forwards;
    }
  }
  @media #{$large-up} {
    padding-top: 10rem;
  }
}

.site__contact {
  background: #000;
  margin-top: -4rem;
  padding-bottom: 3rem;
  @media #{$medium-up} {
    margin-top: 0;
  }

}

.site__contact-block{
  margin-top: 3rem;
  margin-bottom: 6rem;
  position: relative;
  z-index: 0;
  text-align: center;
  
  opacity: 0;

  &.animate{
    animation: slide-in-contact .35s ease-out;
    animation-delay: .25s;
    animation-fill-mode: forwards;
  }

  @media #{$large-up} {
    text-align: left;
  }

  li {
    display: inline-block;
    float: none;
  }
  &:before {
    content: '';
    height: 16rem;
    width: 1rem;
    background: #fff000;
    display: block;
    position: absolute;
    top: 0.5rem;
    margin-top: -4rem;
    left: 50%;
    transform: rotate(45deg);
    z-index: -1;
  }
}
.site__contact-content {
  padding: 1.5rem 1.5rem .5rem 1.5rem;
  background: #1f1f1f; 
  @media #{$large-up} {
    padding: 3rem;
  }
}


.site__social-links {
  margin-top:.5rem;
  text-align: center;
  @media #{$large-up} {
    margin-top: 0;
    text-align: right;
  }
}


.site__copyrights {
  padding-bottom: 10rem;
  text-align: center;
}
